/**/*-private
/**/log.txt
/**/*history

/build/
/tmp/
/nbproject/
/test/
/coverage/

/*.png
/*.html
/*.log
/*.zip
/*.out
/*.csv
/*.txt
/*.Rout
/*.Rdata
/*.Rmd
/*.exec

/.f/
/src/.Rproj.user/
/bin/
/target/
.settings/*
.classpath
.project
